# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Logs
*.log
logs/*.log

# Local env
.venv/
.env

# Data files too large for normal GitHub push
*.parquet
purdue_pitching_lab/data/*.parquet
!purdue_pitching_lab/data/combined_data.parquet
!purdue_pitching_lab/data/combined_data_sample.parquet
